{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section class="p-12">
		<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
			{% for toolbox in toolbox %}
				{% include 'parts/cards.html.twig' %}
			{% endfor %}
		</ul>
	</section>
{% endblock %}
